    * {
      box-sizing: border-box;
      font-family: "Oxygen", sans-serif;
      margin: 0;
      padding: 0;
    }

    body {
      padding: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .title {
      margin-bottom: 20px;
    }

    .input-container {
      position: relative;
      width: 400px;
    }

    .input-container input {
      width: 100%;
      padding: 20px 20px 20px 20px;
      /* espaço para o botão à direita */
      border-radius: 10px;
      border: 1px solid transparent;
      background-color: #dcd7da;
      font-size: 14px;
      outline: none;
      transition: border 0.2s ease;
      text-align: start;
      margin-bottom: 70px;
    }

    .img_color {
      position: absolute;
      top: 4px;
      right: 4px;
      bottom: 4px;
      padding: 4px 4px 4px 4px;
      cursor: pointer;
    }


    .input-container input::placeholder {
      color: #888;

    }

    /* Estado ativo ou preenchido: borda roxa */
    .input-container:has(input:focus),
    .input-container:has(input:not(:placeholder-shown)) {
      border: 2px solid #d658b3;
      border-radius: 10px;

      .icon {
        fill: #000;
      }

    }

    .profile-card,
    .history,
    .fidelity-card,
    .progress-card {
      background: #F4F1F2;
      border-radius: 15px;
      padding: 20px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }


    .profile {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .profile img {
      width: 50px;
      height: 50px;
      border-radius: 10%;
      object-fit: cover;
    }


    
    .history {
      margin-top: 20px;
    }

    .history h4 {
      margin-bottom: 10px;
      font-size: 16px;
    }

    .history ul {
      list-style: none;
      max-height: 200px;
      overflow-y: auto;
      padding-right: 10px;
      margin-left: -30px !important;
    }

    .history li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 6px 0;
      font-size: 14px;
    }

    .check-icon {
      color: green;
    }



    .fidelity-card h4 {
      margin-bottom: 10px;
    }

    .stamps {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 10px;
      margin-top: 15px;
    }

    .stamp {
      width: 88px;
      height: 88px;
      background: #e0dee1;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
    }

    .stamp.checked {
      background: #e6f9ea;
      border: 2px solid #4CAF50;
    }

    .progress-card {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
    }

    .progress-card span {
      font-size: 16px;
    }

    .progress-bar {
      width: 300px;
      height: 10px;
      background: #e0dee1;
      border-radius: 10px;
      overflow: hidden;
      margin: 0 10px;
    }

    .progress-bar-fill {
      width: 70%;
      height: 100%;
      background: linear-gradient(90deg, #4CAF50, #d73384);
    }

    .gift-icon {
      font-size: 20px;
    }